* {
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #004E8C;
  font-weight: 200;
}
.top {
  margin-top: 400px;
}
.controls {
  bottom: -300px;
}
.scale:hover {
  transition: 0.8s;
  transform: scale(1.05);
  // transform: skew(2deg);
  // transform: rotate(30deg);
  // transform-origin: right top;
}
.scale {
  transition: 0.5s;
}

// Estilos card rotación
// .card2 {
//   transition: 0.5s;
//   // width: 40%;
//   // height: 200px;
//   transform-style: preserve-3d;
//   position: relative;
// }
// .card2:hover {
//   transition: 1s;
//   transform: rotateY(180deg);
// }
// .face {
//   border-radius: 20px;
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
// .face.front {
//   background-repeat: no-repeat;
// }
// .face.back {
//   transform: rotateY(180deg);
// }

.carousel-indicatorss {
  position: absolute;
  right: 0;
  bottom: -450px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-indicatorss [data-bs-target] {
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.backgroundServicios {
  background-image: url('../assets/background1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: center;
  background-size: 100% 100%;
  padding: 25px;
}
.backgroundFooter {
  background-color: #323347;
  background-repeat: no-repeat;
  padding: 25px;
  color: white;
  margin-top: 0px;
}
.backgroundDerechos {
  background-color:#323347;
  background-repeat: no-repeat;
  padding: 25px;
  color: white;
  text-align: center;
}
.cayl {
  margin-left: 70px;
}
.footer {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: -70px;
  margin-left: -10px;
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
}
.bckContact {
  background-color: #F5F5F5;
  padding-bottom: 90px;
}
.imaTitle {
  width: 40%;
}
.imgTitle2 {
  width: 70%;
}
.imgTitle3 {
  width: 35%;
}

/* Animación */
/* h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
/* Animación */