@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

p {
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
  color: #004E8C;
}

.backgroundElegirnos {
  background-image: url("../assets/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: center;
  background-size: 100% 100%;
  padding: 25px;
}

.backgroundFooter {
  background-color: #323347;
  background-repeat: no-repeat;
  padding: 25px;
  color: white;
  margin-top: 0px;
}

.backgroundDerechos {
  background-color: #323347;
  background-repeat: no-repeat;
  padding: 25px;
  color: white;
  text-align: center;
}

.footer {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: -70px;
  margin-left: -10px;
  padding: 5px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls {
  bottom: -300px;
}

.scale:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.scale {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.parallax-container {
  width: 100%;
  height: 100vh;
  -webkit-perspective: 8px;
          perspective: 8px;
  -webkit-perspective-origin: 50%;
          perspective-origin: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: visible;
  position: relative;
}

.cayl {
  margin-left: 70px;
}

.separador {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servicios {
  margin-bottom: 25px;
}

.bckContact {
  background-color: #F5F5F5;
  padding-bottom: 90px;
}

.imaTitle {
  width: 40%;
}

.imgTitle2 {
  width: 70%;
}

.imgTitle3 {
  width: 35%;
}

/* Animación */
/* h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
/* Animación */