doctype html
html 
  head
    include css/componentes/head.pug
  body
    include css/componentes/header.pug
    main 
      include css/componentes/slide.pug
      include css/componentes/compania.pug
      include css/componentes/servicios.pug
      include css/componentes/porque_elegirnos.pug
      include css/componentes/contact.pug
      include css/componentes/footer.pug
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous")
              