footer 
  .container 
    .position-relative 
      .position-absolute.top-0.start-0 
        img(class="rounded footer" src="./assets/logo-cayl.png" alt="" width="50%")
      .position-absolute.top-0.start-50.translate-middle 
  div 
    .backgroundFooter 
      .row.justify-content-md-center 
        .col-4.align-self-center.rounded.float-end
        .col-md-auto 
          .d-flex(style="height: 150px;")
            .vr 
        .col-md-auto 
          ul 
            li 
              h4 DIRECCIÓN 
              p Calle 88 No. 24 - 140 Diamante II Bucaramanga / Santader
            li 
              h4 TELÉFONOS 
              span (+57) (7) 6842951
  .backgroundDerechos 
    span © 2021 - CA&L S.A Compañia de Almacenamiento y Logística / Todos los derechos reservados