
header.container
      .row
        .col-2 
          figure 
            img.rounded(src="./assets/logo-cayl.png", alt="Imagen logo" width="150%")
        .col-4 
        .col-6.align-self-end 
          nav 
            ul.nav.nav-tabs 
              li.nav-item 
                a.nav-link.active(aria-current="page" href="#") Inicio 
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false") Nosotros  
                ul.dropdown-menu 
                  li 
                    a.dropdown-item(href="nosotros.html") Quienes somos 
                  li 
                    a.dropdown-item(href="pyog.html") Política y objetivos integrales 
                  li 
                    a.dropdown-item(href="pseguridad.html") Política de seguridad 
                  li 
                    a.dropdown-item(href="anticorrupcion.html") Política de anticorrupción 
                  li 
                    a.dropdown-item(href="resena.html") Reseña histórica 
              li.nav-item.dropdown 
                a.nav-link.dropdown-toggle(data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false") Servicios Especializados 
                ul.dropdown-menu 
                  li 
                    a.dropdown-item(href="admInventarios.html") Administración de inventarios
                  li 
                    a.dropdown-item(href="almacenamiento.html") Almacenamiento y logística
                  li 
                    a.dropdown-item(href="bodega.html") Alquiler de espacios para almacenamiento
                  li 
                    a.dropdown-item(href="alquiler.html") Alquiler de montacargas
                  li 
                    a.dropdown-item(href="aseo.html") Aseo industrial y empresarial
                  li 
                    a.dropdown-item(href="consultoria.html") Consultoría y asesoría
                  li 
                    a.dropdown-item(href="reempaque.html") Empaque y reempaque 
                  li 
                    hr.dropdown-divider
                  li 
                    a.dropdown-item(href="outsourcing.html") Outsourcing 
              li.nav-item 
                a.nav-link(href="#") Noticias 
              li.nav-item 
                a.nav-link.disabled(href="#" tabindex="-1" aria-disabled="true") Intranet