Efecto Parallax con 3 elementos
  .parallax-container 
    .image.image__background 
      img(src="./assets/experiencia.png")
    .image.image__middle 
      .card3.one 
      .card3.two 
      .card3.three
    .image.image__foreground
      img(src="./assets/logo-cayl.png")
  Fin Efecto Parallax