section.servicios 
  .container 
    div 
      h2 
        picture 
          img.imaTitle(src=".//assets/nuestrosServicios.png" alt="")
    .row 
      .col 
        .img-fluid 
          img.card-img-top.rounded.scale(src="./assets/consultoria.jpg" alt="")
      .col 
        .img-fluid
          img.card-img-top.rounded.scale(src="./assets/inventario.jpg" alt="")
      .col 
        .img-fluid 
          img.card-img-top.rounded.scale(src="./assets/bodega.jpg" alt="")
      .col 
        .img-fluid 
          img.card-img-top.rounded.scale(src="./assets/montacargasM.jpg" alt="")
      div 
        br
    .row 
      .col-5 
        .img-fluid
          img.card-img-top.rounded.scale(src="./assets/empaque.jpg" alt="")
      .col-3 
        .img-fluid 
          img.card-img-top.rounded.scale(src="./assets/aseo.jpg" alt="")
      .col-4 
        .img-fluid 
          img.card-img-top.rounded.scale(src="./assets/almacenamientoLogistica.jpg" alt="")