section.compania
  .container 
    .clearfix 
      img.col-md-6.float-md-end.mb-3.ms-md-3(src="/assets/logist.jpg"  alt="")
      br
      br
      br
      br
      br
      h4 Compañia de Almacenamiento y Logistica
      p Somos una empresa que cuenta con mas de 11 de años de experiencia   que se ha especializado en proveer soluciones de almacenamiento y   logística, fortaleciéndonos como una alternativa de outsourcing   administrativo y operativo, generando confianza y tranquilidad a  través de nuestros servicios.
      p Estamos concentrados actualmente en las ciudades de   Barrancabermeja, Cartagena, Cúcuta, Tibasosa y Tunja, en miras de   expansión tanto a nivel local como nacional.
  img.separador(src="./assets/Separador-texto-blog.png" alt="")