section.bckContact 
  .container 
    br
    br
    h2 
      picture 
        img.imaTitle.img-fluid.imgbck(src="/assets/contactenos.png" alt="")
    .row 
      .col-5 
        form(action="/php/conexion.php" method="POST") 
          .mb-3 
            label.form-label(for="nombres") Nombres 
            input#apellidos.form-control(name="nombres" type="text" placeholder="Nombre completo" aria-label="nombres" required)
          .mb-3 
            label.form-label(for="apellidos") Apellidos 
            input#apellidos.form-control(name="apellidos" type="text" placeholder="" aria-label="apellidos" required)
          .mb-3 
            label.form-label(for="phone") Teléfono 
            input#phone.form-control(name="phone" type="tel" placeholder="" aria-label="Phone" pattern="[0-9]{10}" required)
          .mb-3 
            label.form-label(for="city") Ciudad 
            input#city.form-control(name="city" type="text" placeholder="" aria-label="City" required)
          .mb-3 
            label.form-label(for="email" required) Email 
            input#email.form-control(name="email" type="email" placeholder="name@example.com" aria-label="E-mail")
          .mb-3 
            label.form-label(for="comments" required) Comentarios 
            textarea#comments.form-control(cols="30" rows="10" name="comments" type="text" placeholder="" aria-label="Comments")
          button.btn-btn-secondary(type="submit" name="enviar" value="Enviar") Guardar Formulario
      .col-7 
        figure 
          img.img-fluid.imgbck(src="/assets//img-contactanos.png" alt="" width="100%")