section.bckContact 
  .container 
    br
    br
    h2 
      picture 
        img.imaTitle(src="/assets/contactenos.png" alt="")
    .row 
      .col-5 
        .mb-3 
          label.form-label(for="ExampleFormControlInput1") Nombres 
          input.form-control(type="text" placeholder="" aria-label="First name")
        .mb-3 
          label.form-label(for="ExampleFormControlInput1") Apellidos 
          input.form-control(type="text" placeholder="" aria-label="First name")
        .mb-3 
          label.form-label(for="ExampleFormControlInput1") Teléfono 
          input.form-control(type="text" placeholder="" aria-label="First name")
        .mb-3 
          label.form-label(for="ExampleFormControlInput1") Ciudad 
          input.form-control(type="text" placeholder="" aria-label="First name")
        .mb-3 
          label.form-label(for="ExampleFormControlInput1") Email 
          input.form-control(type="email" placeholder="name@example.com" aria-label="First name")
        .mb-3 
          label.form-label(for="ExampleFormControlTextarea1") Comentarios 
          textarea.form-control(type="text" placeholder="" aria-label="First name")
        button.btn-btn-secondary(type="button") Enviar 
      .col-7 
        figure 
          img(src="/assets//img-contactanos.png" alt="" width="100%")