section.servicios 
  .container 
    div 
      h2 
        picture 
          img.imaTitle(src="/assets/nuestrosServicios.png" alt="")
    .row 
      .col 
        .img-fluid 
          a(href="/html/consultoria.html")
            img.card-img-top.rounded.scale(src="/assets/consultoria.jpg" alt="")
      .col 
        .img-fluid
          a(href="/html/admInventarios.html")
            img.card-img-top.rounded.scale(src="/assets/inventario.jpg" alt="")
      .col 
        .img-fluid 
          a(href="/html/bodega.html")
            img.card-img-top.rounded.scale(src="/assets/bodega.jpg" alt="")
      .col 
        .img-fluid 
          a(href="/html/alquiler.html")
            img.card-img-top.rounded.scale(src="/assets/montacargasM.jpg" alt="")
      div 
        br
    .row 
      .col-5 
        .img-fluid
          a(href="/html/reempaque.html")
            img.card-img-top.rounded.scale(src="/assets/empaque.jpg" alt="")
      .col-3 
        .img-fluid 
          a(href="/html/aseo.html")
            img.card-img-top.rounded.scale(src="/assets/aseo.jpg" alt="")
      .col-4 
        .img-fluid 
          a(href="/html/almacenamiento.html")
            img.card-img-top.rounded.scale(src="/assets/almacenamientoLogistica.jpg" alt="")