extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section 
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      div 
        picture 
          img.imgHeader.img-fluid(src="/assets/administracion-inventarios.jpg")
    section 
    hr
    br
    .grid 
      .shadow.g-col-6 
        .sahdow 
          picture 
            img(src="/assets/adminInventarios.png" alt="")
        .shadow.p-3.mb-2.bg-light.text-dark 
          p La administración de inventarios no es un componente aislado dentro del Sistema Logístico, tiene un efecto significativo sobre muchas actividades empresariales, es por eso que CA&L diseña procedimientos para control de inventarios. Soluciones logísticas de administración, abastecimiento, control almacenamiento y distribución.
          .shadow.p-3.mb-2.bg-light.text-dark
            ul 
              li
                img(src="/assets/check.svg") 
                span Custodia de mercancías, empaques y envases.
              li 
                img(src="/assets/check.svg") 
                span Control de inventarios.
              li 
                img(src="/assets/check.svg") 
                span Indicadores de gestión en línea.
              li 
                img(src="/assets/check.svg") 
                span Almacenamiento y distribución de mercancías.
              li 
                img(src="/assets/check.svg") 
                span Toma de información, procesamiento y distribución de pedidos.
          p Nuestro servicio de control de inventarios se fundamenta asignación de números de lote, fechas de caducidad, entre otros procesos disponibles para incrementar el control de sus mercancías. Igualmente procuramos la administración de sus inventarios mediante la realización de conteos cíclicos y la conciliación contra los reportes que genera en los sistemas de administración de inventarios.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")