extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section 
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      div 
        picture 
          img.imgHeader.img-fluid(src="/assets/almacenamiento-logistica.jpg")
    section 
    hr
    br
    .grid 
      .shadow.g-col-6 
        .sahdow 
          picture 
            img(src="/assets/almacenamiento.png" alt="")
        .shadow.p-3.mb-2.bg-light.text-dark 
          p Queremos que nuestros clientes se concentren en su principal actividad de negocio y dejen en nuestras manos la gestión logística de sus operaciones en los procesos de almacenamiento.
          .shadow.p-3.mb-2.bg-light.text-dark
            ul 
              li
                img(src="/assets/check.svg") 
                span Seguimiento y Control de Inventarios.
              li 
                img(src="/assets/check.svg") 
                span Manipulación de Materiales.
              li 
                img(src="/assets/check.svg") 
                span Preparación de Pedidos (Picking & Packing).
              li 
                img(src="/assets/check.svg") 
                span Gestión de Información Relacionada.
          p Proveedores Logísticos Especialistas en las áreas de Almacenamiento y Transporte de Carga, lo cual nos permite garantizar una operación completa y de calidad.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")