extend componentes/plantilla_pag.pug
block contenidos
  main.container
    //- section 
    //-   h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
    //-   div 
    //-     picture 
    //-       img.imgHeader.img-fluid(src="/assets/montacargas1.jpg")
    section 
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      div(align="center") 
        #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride="carousel")
          .carousel-inner
            .carousel-item.active
              img.d-block.w-80.img-fluid(src="/assets/montacargas1.jpg")
            .carousel-item
              img.d-block.w-80.img-fluid(src="/assets/montacargas2.jpg")
            .carousel-item
              img.d-block.w-80.img-fluid(src="/assets/montacargas3.jpg")
            .carousel-item
              img.d-block.w-80.img-fluid(src="/assets/montacargas4.jpg")
            .carousel-item
              img.d-block.w-80.img-fluid(src="/assets/montacargas5.jpg")
            .carousel-item
              img.d-block.w-80.img-fluid(src="/assets/montacargas6.jpg")
          button.carousel-control-prev(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previus
          button.carousel-control-next(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
    hr
    br
    .grid 
      .shadow.g-col-6 
        .sahdow 
          picture 
            img.img-fluid(src="/assets/alquilerMontacargas.png" alt="")
        .shadow.p-3.mb-2.bg-light.text-dark 
          p CAYL cuenta con este servicio que surge de la necesidad de nuestros clientes aprovechando que contamos con maquinaria propia, damos inicio a desarrollar este proyecto que ha sido muy satisfactorio ya que hemos obtenido resultados positivos con la prestación de este servicio, hoy por hoy las compañías buscan minimizar los costos de la operación y se apoyan empresas como la nuestra que cumple con los parámetros establecidos depositando su confianza y tranquilidad en el momento de elegirnos.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")