extend componentes/plantilla_pag.pug
block contenidos
  main
    section.container
      br
      h1(align="center") Compañía de Almacenamiento y Logística S.A. “CA&L”
      div
        picture
          img.imgbck.img-fluid(src="/assets/politica-anticorrupcion.jpg" height="" alt="")
      section.container
        .grid
          .shadow.g-col-6
            p.shadow
              picture
                img.imgTitle3.img-fluid(src="/assets/anticorrupcion.png" alt="")
            .shadow.p-3.mb-2.bg-light.text-dark
              p CA&L S.A. – Compañía de almacenamiento y logística S.A. establece como principio no permitir el ofrecimiento, aceptación o solicitud de pagos inapropiados, directa o indirecta entendiéndose como sobornos o cualquiera sea su forma, para los miembros directos, proveedores, clientes y quienes intervienen en las actividades que desempeña la compañía.
    section.container(align="center")
      img.img-fluid(src="/assets/Separador-texto-blog.png" alt="")