extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      .container 
        picture 
          img.imgHeader.img-fluid(src="/assets/aseo-industrial1.jpg")
    section
      hr
      br
      .grid 
        .shadow.g-col-6 
          p.shadow 
            picture 
              img(src="/assets/aseoIndustrialEmpresarial.png")
          .shadow.p-3.mb-2.bg-light.text-dark
            p Somos especialistas en la subcontratación de procesos para atender las necesidades de los sectores industriales, comerciales y de servicios, que encuentran en esta modalidad una manera de reducir costos, aumentar la calidad y concentrarse más en las actividades propias del negocio.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")