extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section 
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      div 
        picture 
          img.imgHeader.img-fluid(src="/assets/almacenamiento-logistica.jpg")
    section 
    hr
    br
    .grid 
      .shadow.g-col-6 
        .sahdow 
          picture 
            img.img-fluid(src="/assets/alquiler.png" alt="")
        .shadow.p-3.mb-2.bg-light.text-dark 
          p CA&L es una compañía especializada en almacenamiento y logística que cuenta con el espacio adecuado para suministrar a todas las empresas este servicio con el fin de almacenar, manejar y controlar sus inventarios de un manera eficiente, nuestro recurso humano es altamente competente dedicado a cada una de las actividades asignadas para  llevar a cabo el objetivo pactado por los lideres de cada proceso, de esta manera generamos  reconocimiento motivacional por sus labores desempeñadas día a día.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")