extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      .container 
        picture 
          img.imgHeader.img-fluid.imgbck(src="/assets/consultoria-asesoria.jpg")
    section
      hr
      br
      .grid 
        .shadow.g-col-6 
          p.shadow 
            picture 
              img.img-fluid(src="/assets/consultoria2.png")
          .shadow.p-3.mb-2.bg-light.text-dark
            p Servicios de consultoría organizacional en los temas de estrategia, procesos, gestión del talento humano, administración de riesgos operacionales, finanzas corporativas, gestión de activos, auditoria interna y aseguramiento.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")