extend componentes/plantilla.pug
block contenidos
  main 
    include componentes/slide.pug
    include componentes/compania.pug
    include componentes/servicio.pug
    include componentes/porque_elegirnos.pug
    include componentes/contact.pug