extend componentes/plantilla_pag.pug
block contenidos
  main
    section.container 
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      .container 
        picture 
          img.imgHeader.img-fluid.imgbck(src="/assets/quienes-somos2.jpg")
      .row.g-0 
        .col-sm-6.col-md-8.row.align-items-center 
          p.row.align-items-center Surge del propósito de ofrecer servicios de operación logística a empresas, que requieren de especialistas en el área de almacenamiento y Logística, empaque y re empaque, administración de inventarios y facturación, aseo industrial y empresarial, consultoría y asesoría en el área Logístico y empresarial, entre otras  necesidades específicas. <br> <br> Fue creada por 5 accionistas fundadores, de los cuales en la actualidad cuenta con 9, se constituyó el día 12 de mayo de 2008 en la ciudad de Bucaramanga, dando inicio a las operaciones el 1° de junio de 2008.
        .col-6.col-md-4 
          picture 
            img.img-fluid(src="/assets/contactenos2.png" width="50%")
    hr
    br
    section 
      .container 
        .row 
          .col-6.order-last 
            p.shadow 
              picture 
                img.img-fluid(src="/assets/vision.png")
            p CA&L S.A.  basada en la innovación, la mejora continua y la incorporación de tecnología de punta, se consolidará como una de las mejores empresas en implementación y desarrollo de servicios de apoyo logístico de la región y del país, siendo para el 2022, una compañía autosuficiente, con áreas de almacenamiento propias y con proyección a nivel internacional.
          .col-6.order-first 
            p.shadow 
              picture 
                img.img-fluid(src="/assets/mision.png")
            p Proveer soluciones especializadas, de alta calidad y con valor agregado en el sector de servicios logísticos, garantizando la satisfacción del cliente desde la base de la innovación, desarrollo y mejoramiento integral de nuestros procesos y servicios, contribuyendo a la calidad de vida de nuestro recurso humano, como fundamento de nuestro propio crecimiento, y en armonía con el respeto y la protección del medio ambiente y dentro del marco de la responsabilidad social empresarial.
    section.container 
      hr
      br
      .grid 
        .shadow.g-col-6 
          p.shadow 
            picture 
              img.img-fluid(src="/assets/fortalezas.png")
          .shadow.p-3.mb-2.bg-light.text-dark
            ul 
              li
                img.img-fluid(src="/assets/check.svg") 
                span Contamos con personal altamente calificado, competente y comprometido
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Amplia experiencia
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Cobertura en tres ciudades
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Experiencia En el servicio de manejo y control de inventarios, almacenamiento, y manejo de personal
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Clientes de alta trayectoria y buena reputación
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Comprometidos con el servicio para dar cumplimiento a cada una de nuestras labores
              li 
                img.img-fluid(src="/assets/check.svg") 
                span Contamos con una infraestructura adecuada para dar cumplimiento a nuestros servicios
          br
          br
          .shadow.g-col-6
            p.shadow 
              picture 
                img.img-fluid(src="/assets//valores.png")
          .shadow.p-3.mb-2.bg-light.text-carouselExampleDark
            ul 
              li 
                picture 
                  img.img-fluid(src="/assets/check.svg") 
                  strong Respeto:</strong> Es un valor fundamental en las personas, por ello, debemos tratara a los demás como nos gustaría que nos trataran en nuestra compañía todos somos tratados de la misma manera sin discriminar cargo, raza o religión.
              li
                img.img-fluid(src="/assets/check.svg") 
                strong Responsabilidad:</strong> Somos comprometidos en cada uno de los procesos que desempeñamos destacándonos por ser los mejores.
              li 
                img.img-fluid(src="/assets/check.svg")
                strong Eficiencia:</strong> trabajamos con toda la fuerza y energía necesaria para poder desarrollar de la mejor manera cada una de las tareas que día a día afrontamos en nuestra compañía.
              li 
                img.img-fluid(src="/assets/check.svg")
                strong Eficacia:</strong> estamos capacitados para lograr los objetivos deseados por nuestros clientes.
              li 
                img.img-fluid(src="/assets/check.svg")
                strong Honestidad:</strong> Nos caracterizamos por actuar siempre con transparencia, con la verdad sin hacer mal uso de la información que nos confían.
              li 
                img.img-fluid(src="/assets/check.svg")
                strong Cumplimiento:</strong> actuamos de manera impecable con dedicación y esfuerzo para dar lo mejor de nuestra compañía acatando siempre lo que se nos requiere para la satisfacción de todos.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")