extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      .container 
        picture 
          img.imgHeader.img-fluid(src="/assets/outsourcing.jpg" width="900")
    section
      hr
      br
      .grid 
        .shadow.g-col-6 
          picture 
            img(src="/assets/outsoursingTitle.png")
        .shadow.p-3.mb-2.bg-light.text-dark
          p Somos proveedores de soluciones en Outsourcing, con el objetivo de optimizar la gestión empresarial garantizando calidad en los servicios dentro de un marco de objetividad, seguridad y confianza.
          p El correcto manejo de los diferentes procesos de su empresa, le permitirá la concentración de todos sus esfuerzos en las actividades esenciales del negocio.
    section.container 
      img.separador.img-fluid(src="/assets/Separador-texto-blog.png")