extend componentes/plantilla_pag.pug
block contenidos
  main
    section.container
      br
      h1(align="center") Compañía de Almacenamiento y Logística S.A. “CA&L”
      div
        picture
          img.imgbck(src="/assets/politica-nodrogas.jpg" height="" alt="")
      section.container
        .grid
          .shadow.g-col-6
            p.shadow
              picture
                img.imgTitle3(src="/assets/noCigarrillo.png" alt="")
            .shadow.p-3.mb-2.bg-light.text-dark
              p 
                <strong> COMPAÑÍA DE ALMACENAMIENTO Y LOGISTICA S.A CA&L S.A. </strong> Cumpliendo su compromiso de promover ambientes seguros y saludables, ha desarrollado una política de promoción a la salud y prevención de adicciones al cigarrillo, alcohol y drogas con el fin de promover y mantener la salud de sus colaboradores, la preservación del medio ambiente y las áreas de trabajo.
              h2 Se tendrán en cuenta los siguientes lineamientos:
              ul 
                li 
                  p Prohibir el consumo de cigarrillo, el uso de alcohol y sustancias psicoactivas o drogas en todas las áreas de la empresa.
                li 
                  p Divulgar entre los colaboradores de la empresa el daño que el uso del tabaco produce en la salud de los fumadores y los fumadores pasivos y el uso de alcohol y sustancias psicoactivas o drogas.
                li 
                  p Propender por la activa participación en todos los niveles de la empresa en la prevención del uso de alcohol y sustancias psicoactivas o drogas.
                li 
                  p Prohibir que los trabajadores laboren en estado de embriaguez, o bajo los efectos de la resaca, guayabo, sustancias psicoactivas y drogas y estructurar un régimen de sanciones drásticas para quienes incumplan, aplicando pruebas de alcoholemias y de Sustancia alucinógenas con el fin de detectar su consumo.
                li 
                  p Prohibir la posesión y consumo de cigarrillos y sustancias psicoactivas o drogas en las áreas de trabajo de la empresa.
                li 
                  p Es responsabilidad de los trabajadores de la empresa, informar al jefe inmediato casos de ventas o posesión de drogas  ilegales dentro de la empresa.
                li 
                  p Estimular a los colaboradores afectados por el uso del tabaco, el uso de alcohol y sustancias psicoactivas o drogas a que participen en programas para su tratamiento.
                li 
                  p Cualquier violación de esta política de parte de empleados conllevará la aplicación de las medidas disciplinarias establecidas por las directivas de la organización.
    section.container(align="center")
      img(src="/assets/Separador-texto-blog.png" alt="")