extend componentes/plantilla_pag.pug
block contenidos
  main
    section.container
      br
      h1(align="center") Compañía de Almacenamiento y Logística S.A. “CA&L”
      div
        picture
          img.img-fluid(src="/assets/personal2.jpg" height="" alt="")
      section.container
        .grid
          .shadow.g-col-6
            p.shadow
              picture
                img.imgTitle3.img-fluid(src="/assets/politica.png" alt="")
            .shadow.p-3.mb-2.bg-light.text-dark
              p CA&L  es una compañía que provee soluciones especializadas de alta calidad al sector de servicios logísticos, el compromiso de CA&L como operador logístico es contribuir al logro de los objetivos institucionales de nuestros clientes, garantizando la satisfacción de  sus necesidades y requisitos  y el cumplimiento de la normatividad legal vigente aplicable y otros suscritos.
              p Nuestra operación se enmarca bajo los principios de mejora continua, respeto y cuidado del medio ambiente, prevención de lesiones y enfermedades laborales, daños a la propiedad y  partes interesadas; asegurando así, el desempeño óptimo de la organización y nuestro sistema integrado de gestión mediante la asignación de recursos y el fomento de una cultura de calidad, responsabilidad social, prevención y autocuidado.
          .shadow.g-col-6
            p.shadow
              picture
                img.imgTitle3.img-fluid(src="/assets/objetivosIntegrales.png" alt="")
            .shadow.p-3.mb-2.bg-light.text-dark
              ul
                li Garantizar la satisfacción de nuestros clientes, mediante el cumplimiento de sus necesidades y requisitos. 
                li Cumplir la normatividad legal vigente aplicable y a otros suscritos.
                li Mejorar continuamente el desempeño el sistema integrado de gestión.
                li Promover el respeto y cuidado del medio ambiente.
                li Prevenir lesiones y enfermedades laborales, daños a la propiedad y partes interesadas.
                li Fomentar una cultura de calidad, responsabilidad social, autocuidado, prevención y cuidado al medio ambiente.
    section.container(align="center")
      img.img-fluid(src="/assets/Separador-texto-blog.png" alt="")