extend componentes/plantilla_pag.pug
block contenidos
  main.container
    section
      h1.title Compañía de Almacenamiento y Logística S.A "CA&L"
      .container 
        picture 
          img.imgHeader.img-fluid.imgbck(src="/assets/empaque-reempaque.jpg")
    section
      hr
      br
      .grid 
        .shadow.g-col-6 
          p.shadow 
            picture 
              img.img-fluid(src="/assets/empaque.png")
          .shadow.p-3.mb-2.bg-light.text-dark
            p Prestamos servicios de empaque, re empaque, revisión, armado, embalaje, alistamiento y acondicionamiento de sus productos en los procesos logísticos. Con el fin de satisfacer las necesidades de las empresas que lo requieran, contribuyendo al desarrollo y crecimiento de estas.
            p Trabajando con responsabilidad, brindado un alto nivel de calidad y eficacia en la gestión a realizar; creando una cultura no solo a nivel empresarial sino a nivel social tanto en la parte interna como externa de nuestra empresa.
    section.container 
      img.separador.img-fluid.imgbck(src="/assets/Separador-texto-blog.png")