extend componentes/plantilla_pag.pug
block contenidos
  main
    section.container
      br
      h1(align="center") Compañía de Almacenamiento y Logística S.A. “CA&L”
      div
        picture
          img.imgbck(src="/assets/resena-historica1.jpg" height="" alt="")
      section.container
        .grid
          .shadow.g-col-6
            p.shadow
              picture
                img.imgTitle3(src="/assets/resena.png" alt="")
            .shadow.p-3.mb-2.bg-light.text-dark
              p Compañía de Almacenamiento y Logística surge del propósito de ofrecer servicios de operación logística a empresas Santandereanas, que requieren de especialistas en el área de almacenamiento y logística, Empaque y Reempaque, Administración de inventarios y facturación, Aseo Industrial y Empresarial, consultoría y asesoría en el área logístico y empresarial, entre otras necesidades específicas.
              p Fue creada por 5 accionistas fundadores, de los cuales en la actualidad cuenta con 9, se constituyó el día 12 de mayo de 2008 en la ciudad de Bucaramanga, dando inicio a las operaciones el 1° de junio de 2008.
              p CA&L genera empleo para 566 personas aproximadamente conformada por el área administrativa ubicada en Calle 88 No 24-140 Diamante II y operativa en todos sus niveles, concentrados actualmente en las ciudades: Tocancipá, Medellín y Bucaramanga.
    section.container(align="center")
      img(src="/assets/Separador-texto-blog.png" alt="")